<header class="header">
  <div class="logo">
    <a href="./index.html">
      <svg class="logo__icon">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
  </div>
  <div class="header__content container">
    <h1 class="header__title">
      <div class="sign">
        <span class="fast-flicker">FIND</span> BEST
        <span class="faster-flicker">EVENT</span> AROUND
        <span class="flicker">THE</span> WORLD
      </div>
    </h1>

    <div class="header__field-container">
      <form>
        <div class="header__field">

          <input type="text" name="search-event" placeholder="Start searching" autocomplete="off"
            class="header__input search__input" />
          <button class="btn__submit" type="submit">
            <svg class="btn__icon" width="12px" height="12px">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </div>

        <div class="header__field">
          <div>
            <input id="chose-country" type="text" name="search-event" placeholder="Choose country" class="header__input"
              autocomplete="off" />
            <svg id="polygon" class="input__icon" width="15px" height="10px">
              <use href="./images/sprite.svg#icon-polygon"></use>
            </svg>
          </div>
          <div class="country hide">
            <ul class="country__list">

              <li class="country__item" data-country="">All countries</li>
              <li class="country__item" data-country="US">United States Of America</li>
              <li class="country__item" data-country="AD">Andorra</li>
              <li class="country__item" data-country="AI">Anguilla</li>
              <li class="country__item" data-country="AR">Argentina</li>
              <li class="country__item" data-country="AU">Australia</li>
              <li class="country__item" data-country="AT">Austria</li>
              <li class="country__item" data-country="AZ">Azerbaijan</li>
              <li class="country__item" data-country="BS">Bahamas</li>
              <li class="country__item" data-country="BH">Bahrain</li>
              <li class="country__item" data-country="BB">Barbados</li>
              <li class="country__item" data-country="BE">Belgium</li>
              <li class="country__item" data-country="BM">Bermuda</li>
              <li class="country__item" data-country="BR">Brazil</li>
              <li class="country__item" data-country="BG">Bulgaria</li>
              <li class="country__item" data-country="CA">Canada</li>
              <li class="country__item" data-country="CL">Chile</li>
              <li class="country__item" data-country="CN">China</li>
              <li class="country__item" data-country="CO">Colombia</li>
              <li class="country__item" data-country="CR">Costa Rica</li>
              <li class="country__item" data-country="HR">Croatia</li>
              <li class="country__item" data-country="CY">Cyprus</li>
              <li class="country__item" data-country="CZ">Czech Republic</li>
              <li class="country__item" data-country="DK">Denmark</li>
              <li class="country__item" data-country="DO">Dominican Republic</li>
              <li class="country__item" data-country="EC">Ecuador</li>
              <li class="country__item" data-country="EE">Estonia</li>
              <li class="country__item" data-country="FO">Faroe Islands</li>
              <li class="country__item" data-country="FI">Finland</li>
              <li class="country__item" data-country="FR">France</li>
              <li class="country__item" data-country="GE">Georgia</li>
              <li class="country__item" data-country="DE">Germany</li>
              <li class="country__item" data-country="GH">Ghana</li>
              <li class="country__item" data-country="GI">Gibraltar</li>
              <li class="country__item" data-country="GB">Great Britain</li>
              <li class="country__item" data-country="GR">Greece</li>
              <li class="country__item" data-country="HK">Hong Kong</li>
              <li class="country__item" data-country="HU">Hungary</li>
              <li class="country__item" data-country="IS">Iceland</li>
              <li class="country__item" data-country="IN">India</li>
              <li class="country__item" data-country="IE">Ireland</li>
              <li class="country__item" data-country="IL">Israel</li>
              <li class="country__item" data-country="IT">Italy</li>
              <li class="country__item" data-country="JM">Jamaica</li>
              <li class="country__item" data-country="JP">Japan</li>
              <li class="country__item" data-country="KR">Republic of Korea</li>
              <li class="country__item" data-country="LV">Latvia</li>
              <li class="country__item" data-country="LB">Lebanon</li>
              <li class="country__item" data-country="LT">Lithuania</li>
              <li class="country__item" data-country="LU">Luxembourg</li>
              <li class="country__item" data-country="MY">Malaysia</li>
              <li class="country__item" data-country="MT">Malta</li>
              <li class="country__item" data-country="MX">Mexico</li>
              <li class="country__item" data-country="MC">Monaco</li>
              <li class="country__item" data-country="ME">Montenegro</li>
              <li class="country__item" data-country="MA">Morocco</li>
              <li class="country__item" data-country="NL">Netherlands</li>
              <li class="country__item" data-country="AN">
                Netherlands Antilles
              </li>
              <li class="country__item" data-country="NM">New Zealand</li>
              <li class="country__item" data-country="ND">Northern Ireland</li>
              <li class="country__item" data-country="NO">Norway</li>
              <li class="country__item" data-country="PE">Peru</li>
              <li class="country__item" data-country="PL">Poland</li>
              <li class="country__item" data-country="PT">Portugal</li>
              <li class="country__item" data-country="RO">Romania</li>
              <li class="country__item" data-country="RU">
                Russian Federation
              </li>
              <li class="country__item" data-country="LC">Saint Lucia</li>
              <li class="country__item" data-country="SA">Saudi Arabia</li>
              <li class="country__item" data-country="RS">Serbia</li>
              <li class="country__item" data-country="SG">Singapore</li>
              <li class="country__item" data-country="SK">Slovakia</li>
              <li class="country__item" data-country="SI">Slovenia</li>
              <li class="country__item" data-country="ZA">South Africa</li>
              <li class="country__item" data-country="ES">Spain</li>
              <li class="country__item" data-country="SE">Sweden</li>
              <li class="country__item" data-country="CH">Switzerland</li>
              <li class="country__item" data-country="TW">Taiwan</li>
              <li class="country__item" data-country="TH">Thailand</li>
              <li class="country__item" data-country="TT">
                Trinidad and Tobago
              </li>
              <li class="country__item" data-country="TR">Turkey</li>
              <li class="country__item" data-country="UA">Ukraine</li>
              <li class="country__item" data-country="AE">
                United Arab Emirates
              </li>
              <li class="country__item" data-country="UY">Uruguay</li>
              <li class="country__item" data-country="VE">Venezuela</li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <div class="header__gradient"></div>
  </div>
</header>