<div class="backdrop is-hidden" data-team-modal>
  <div class="modal team" data-team-modal-window>
    <button class="modal__close" data-team-modal-close>
      <svg class="modal__close-btn">
        <use href="./images/modal-team/close.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__team">
      <div class="modal__title">
        <h2 class="modal__text">Team Project No 5</h2>
      </div>
      <ul class="students__wrapper">
        <li class="student">
          <img class="student__img" src="./images/modal-team/Paweł-Gash.jpg" alt="student profile picture" />
          <h2 class="student__name">Paweł "Gash" Gasz</h2>
          <p class="student__description">Team Leader</p>
          <ul class="student-social__list">
            <li class="student-social__item">
              <a class="student-social__link" href="https://www.linkedin.com/in/pgasz/" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="student">
          <img class="student__img" src="./images/modal-team/Agnieszka-Janowska.jpg" alt="student profile picture" />
          <h2 class="student__name">Agnieszka Janowska</h2>
          <p class="student__description">Scrum Master</p>
          <ul class="student-social__list list">
            <li class="student-social__item">
              <a class="student-social__link link" href="https://www.linkedin.com/in/agnieszka-janowska-233b2b255/"
                target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="https://github.com/Agnieszkaa86" target="_blank"
                rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="/src/images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="student">
          <img class="student__img" src="./images/modal-team/Bartek-Jedliczka.png" alt="student profile picture" />
          <h2 class="student__name">Bartłomiej Jedliczka</h2>
          <p class="student__description">Developer</p>
          <ul class="student-social__list list">
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="student">
          <img class="student__img" src="./images/modal-team/Miłosz-Pleśniak.png" alt="student profile picture" />
          <h2 class="student__name">Miłosz Pleśniak</h2>
          <p class="student__description">Developer</p>
          <ul class="student-social__list list">
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            <li>
          </ul>
        </li>
        <li class="student">
          <img class="student__img" src="/src/images/modal-team/Magda-Święcka.jpg" alt="student profile picture" />
          <h2 class="student__name">Magda Święcka</h2>
          <p class="student__description">Developer</p>
          <ul class="student-social__list list">
            <li class="student-social__item">
              <a class="student-social__link link" href="https://www.linkedin.com/mwlite/in/magdalena-%C5%9Bwi%C4%99cka-bbb5697b" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="student">
          <img class="student__img" src="./images/modal-team/Patrycja-Lamik.png" alt="student profile picture" />
          <h2 class="student__name">Patrycja Lamik</h2>
          <p class="student__description">Developer</p>
          <ul class="student-social__list list">
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="student-social__item">
              <a class="student-social__link link" href="#" target="_blank" rel="noopener">
                <svg class="social__icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>