.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $text-color;
  z-index: 2000;

  &__logo {
    position: absolute;
    bottom: -165px;
    left: 0;
    width: 280px;
    height: 280px;
  }
  &__circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $Loader-size;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      animation-duration: 1.8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      filter: drop-shadow(calc($Loader-offset / 2.25) rgba($second-color, 0.75));
    }

    &:before {
      width: 100%;
      padding-bottom: 100%;
      box-shadow: inset 0 0 0 $Loader-offset $second-color;
      animation-name: pulsA;
    }

    &:after {
      width: calc(100% - #{$Loader-offset}* 2);
      padding-bottom: calc(100% - #{$Loader-offset}* 2);
      box-shadow: 0 0 0 0 $second-color;
      animation-name: pulsB;
    }
  }

  @keyframes pulsA {
    0% {
      box-shadow: inset 0 0 0 $Loader-offset $second-color;
      opacity: 1;
    }

    50%,
    100% {
      box-shadow: inset 0 0 0 0 $second-color;
      opacity: 0;
    }
  }

  @keyframes pulsB {
    0%,
    50% {
      box-shadow: 0 0 0 0 $accent-color;
      opacity: 0;
    }

    100% {
      box-shadow: 0 0 0 $Loader-offset $second-color;
      opacity: 1;
    }
  }
}
@function strokeDashoffset($num) {
  @return 440 - calc((440 * $num) / 100);
}

.progressbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 280px;
}

.progressbar__svg {
  width: 100%;
  height: 100%;
}

.progressbar__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 20;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: $stroke-color;
  stroke-linecap: round;
  transform: translate(10px, 10px);
}

.shadow {
  &-html {
    filter: drop-shadow(0 0 5px $color-html);
  }
}

.circle {
  &-html {
    animation: anim_circle-html 2s ease-in-out forwards;
  }
}

@keyframes anim_circle-html {
  to {
    stroke-dashoffset: strokeDashoffset(100);
  }
}
